<% for(let line = 0; line < 5; line++){ %>
    <div class="line">
        <% for(let column = 0; column < 10; column++){ %>
            <div class="square">

            </div>
        <% } %>
    </div>
<% } %>
