body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.square{
  background-color: #4e53ff;
  border-style: dashed;
  border-color: black;
  width: 60px;
  height: 60px;
}

.preenchido{
  background-color: #ff0000;

}
.shoot{
  background-color: black;
}

.shooted{
  background-color: red;
}
.shootedRight{
  background-color: #73ff00;
}

.posicionado{
  background-color: #73ff00;
}

.line{
  display: flex;
}

